@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Cormorant+Garamond:ital,wght@1,300&family=Lobster&display=swap" rel="stylesheet');
.header{
    color:black ;
    text-align: center;
    text-shadow: 2px 3px 3px #c89b3f;
    font-size: 40px;
    background: linear-gradient(to right,black,#c89b3f,whitesmoke,#c89b3f,black);
    box-shadow: 3px 4px 0px white;
    margin: 30px;
    padding-top: 5px;
    font-weight: bolder;
    text-decoration: overline;
    font-family: 'Lobster', cursive;  }